<!DOCTYPE html>
<html>
<head>
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">404 - Oops! Something went wrong.</h1>
            <p class="lead">The page you are looking for doesn't exist.</p>
            <hr class="my-4">
            <p>Please check the URL or go back to the <a href="{% url 'dashboard:index' %}">homepage</a>.</p>
        </div>
    </div>
    
</body>
</html>