{% if user.is_authenticated %}
{% with namespace=request.resolver_match.namespace url_name=request.resolver_match.url_name %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example" style="margin-bottom: 15px;">
	<div class="container">
		<a class="navbar-brand mb-0 h1" href="/">CRM</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExample07">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link{% if namespace == 'dashboard' %} active{% endif %}" href="{% url 'dashboard:index' %}">Dashboard</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Drop Menu</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="">Drop 1</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="">Drop 2</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Drop 3</a></li>
			</ul>
		  </li>
		<!--  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle disabled" href="#" data-bs-toggle="dropdown" aria-expanded="false">Instagram</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#">...</a></li>
			  <li><a class="dropdown-item" href="#">...</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle disabled" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#">API-key</a></li>
			  <li><a class="dropdown-item" href="#">...</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled" href="#">Statistics</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled">Logs</a>
		  </li> -->
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item nav-link">
				<div class="form-check form-switch dmode">
					<input class="form-check-input" type="checkbox" {% if dark_mode == 'on' %}checked{% endif %} id="darkModeSwitch">
					<label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
				</div>
			</li>
			<li class="nav-item nav-link">{% now "G:i:s d.m.Y" %}</li>
			<li class="nav-item"><a class="nav-link" href="{% url 'core:logout' %}">Logout</a></li>
		</ul>
	  </div>
	</div>
  </nav>
{% endwith %}
{% endif %}